.addNewMem {
  text-align: center;
}

.addNewMem form {
  border: 1px solid green;
  width: 400px;
  padding: 20px 30px;
  margin: 0 auto;
  text-align: left;
}

h1 {
  font-size: 20px;
  margin: 30px 0px 10px 0px;
}
.addNewMem button {
  padding: 10px 15px;
  border-radius: 30px;
  border: none;
  background-color: green;
  margin-top: 15px;
  color: white;
  cursor: pointer;
}
.addNewMem button:hover {
  background-color: rgb(1, 165, 1);
  transition: all 0.3s;
  color: white;
}
.addNewMem input {
  margin-top: 10px;
  cursor: pointer;
  padding: 5px 15px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
