.addnewmem {
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 20px;
  margin: 30px 0px 20px 0px;
}
.addnewmem button {
  padding: 10px 15px;
  border-radius: 30px;
  border: 1px solid green;
  background-color: white;
  color: black;
  margin-left: 15px;
  cursor: pointer;
}
.addnewmem button:hover {
  background-color: rgb(1, 153, 1);
  transition: all 0.3s;
  color: white;
}
.addnewmem input {
  cursor: pointer;
  padding: 10px 15px;
  background-color: green;
  color: white;
}
